.item {
  display: grid;
  grid-template-columns: 80px 1fr 50px;
  grid-template-areas:
    "checkbox title btn"
    "checkbox dates btn"
    "checkbox tags btn";
  padding: 10px;
  column-gap: 10px;
  row-gap: 5px;
  border-bottom: 1px solid #ccc;
}

.item:last-of-type {
  border-bottom: none;
}

.item.edit-mode .item__title {
  display: none;
}

.item:has(.checkbox:checked) .item__title {
  text-decoration: line-through;
}

.item:hover {
  background-color: #f5f5f5;
}

.checkboxBlock {
  grid-area: checkbox;
  place-self: center;
}

.checkbox {
  cursor: pointer;
  transform: scale(2);
}

.titleGroup {
  grid-area: title;
  padding: 5px;
}

.title {
  font-size: 1.5rem;
  color: black;
}

.title:link {
  text-decoration: none;
  color: black;
}

.title:hover {
  text-decoration: underline;
}

.description {
  line-height: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 2em;
}

.datesGroup {
  margin-top: 5px;
  padding: 5px;

  grid-area: dates;
  font-size: 10px;
  display: flex;
  gap: 20px;
}

.btnGroup {
  grid-area: btn;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* align-content: center; */
}

.tagsGroup {
  list-style-type: none;
  margin-top: 5px;
  grid-area: tags;
  display: flex;
  gap: 20px;
  align-items: center;
}

.tagItem::before {
  content: "#";
  font-size: 1.5rem;
  margin-right: 5px;
}

.tag:link,
.tag:visited {
  text-decoration: none;
  color: black;
}

.tag:hover {
  text-decoration: underline;
}

.btn {
  font-size: 1rem;
  padding: 5px;
  bottom: 1px;
}

@media screen and (max-width: 768px) {
  .item {
    grid-template-columns: auto 1fr auto;
    padding: 5px;
  }

  .checkbox {
    transform: scale(1);
  }

  .titleGroup {
    font-size: 16px;
  }

  .datesGroup {
    flex-direction: column;
    gap: 2px;
  }

  .tagsGroup,
  .tagsGroup::before {
    font-size: 10px;
  }

  .btnGroup .btn {
    font-size: 10px;
    padding: 2px;
    bottom: 1px;
  }
}
